* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

button {
    width: 100px;
    height: 40px;
    cursor: pointer; /* "mãozinha" */
}

#ligar {
    background-color: rgb(202, 255, 202);
    border: solid 1px rgb(151, 194, 151);
    border-radius: 5px;
}

#desligar {
    background-color: rgb(255, 202, 202);
    border: solid 1px rgb(194, 151, 151);
    border-radius: 5px;
}

img {
    cursor: pointer;
}

footer {
    height: 75px;
    justify-content: center;
    align-items: flex-start;
    font-style: italic;
}